version: 2

references:
  configure: &configure
    name: Running Configure
    command: |
      cd ~/build
      /root/sina/configure \
      --disable-docs \
      --prefix=/root/install \
      --with-boost=/root/miniconda  \
      --with-boost-libdir=/root/miniconda/lib \
      --with-arbhome=/root/miniconda/lib/arb \
      $EXTRA_CONFIG_ARGS \
      LDFLAGS="$LDFLAGS -Wl,-rpath -Wl,/root/miniconda/lib" \
      || (cat config.log; false)

jobs:
  build:
    docker:
      - image: condaforge/linux-anvil
        environment:
          MINICONDA: /root/miniconda
          JUNIT_REPORT_PATH: /root/reports/ # trailing slash required
          MAKEFLAGS: -j2

    working_directory: /root/sina
    steps:
      - checkout
      - restore_cache:
          keys:
            - conda
      - run:
          name: Preparing Conda Environment
          command: ./ci_scripts/install_conda.sh
      - save_cache:
          key: conda-{{ checksum "conda_state.txt" }}
          paths: /root/miniconda

      - run:
          name: Preparing Directory Structure
          command: mkdir ~/build $JUNIT_REPORT_PATH

      - run:
          name: Boostrapping Configure
          command: ./autogen.sh
      - run:
          <<: *configure
      - run:
          name: Running Make
          command: make -C ~/build
      - run:
          name: Running Unit Tests
          command: |
            make -C ~/build check
            ls -la $JUNIT_REPORT_PATH
      - store_test_results:
          path: /root/reports
      - run:
          name: Installing
          command: make -C ~/build install
      - run:
          name: Running Integration Tests
          command: ~/install/bin/sina --help
      - run:
          name: Building Source Package
          command: make -C ~/build dist-gzip
      - run:
          name: Cleaning Up
          command: make -C ~/build clean
      - run:
          <<: *configure
          environment:
            EXTRA_CONFIG_ARGS: --enable-fat-tar
      - run:
          name: Running Make
          command: make -C ~/build
      - run:
          name: Building Binary Package
          command: make -C ~/build bindist-gzip
      - run:
          name: Copy tarballs
          command: mkdir -p /tmp/artifacts; cp ~/build/* /tmp/artifacts
      - store_artifacts:
          path: /tmp/artifacts

